<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vue Mastery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/css/style.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <!-- fondo aquí -->
    <div class="bg-game">

      <!-- Botón de salir -->
      <div class="exit-button">
        <a href="index.html" target="_blank">
          <img src="./assets/img/btnExit.png" alt="Salir" draggable="false" />
        </a>
      </div>


      <!-- Botones superiores -->
      <div class="top-buttons">
        <!-- Estanque: úsalo para cerrar el modal o navegar dentro del juego -->
        <button class="icon-btn" type="button" @click="closeModal">
          <img src="./assets/img/btnPond.png" alt="Mi estanque" draggable="false" />
        </button>

        <!-- Tienda => abre el modal 'market' -->
        <button class="icon-btn" type="button" @click="openModal('market')">
          <img src="./assets/img/btnStore.png" alt="Tienda" draggable="false" />
        </button>

        <!-- Inventario => abre el modal 'inventory' -->
        <button class="icon-btn" type="button" @click="openModal('inventory')">
          <img src="./assets/img/inventory.png" alt="Inventario" draggable="false" />
        </button>

        <!-- Missions => abre el modal 'missions' -->
        <button class="icon-btn" type="button" @click="openModal('missions')">
          <img src="./assets/img/missions.png" alt="Missions" draggable="false" />
        </button>
      </div>   <!-- final de botones -->
   


      <!-- Contenedor principal  del estanque para crecer peces-->
      <div class="container">

        <!-- Panel lateral con pez flotante y texto -->
        <div class="fish-drag-panel">
          <div class="drag-instruction">Arrastrar al estanque →</div>
          <img src="./assets/img/huevo.svg" alt="Pez flotante" class="draggable-fish" draggable="true"
            @dragstart="initManualGrab(2, $event)" />
        </div>

        <!-- Grilla del estanque -->
        <div class="pond-wrapper">
          <div class="grid">
            <div v-for="(tile, index) in tiles" :key="index" class="tile" :class="obtainClass(index)" @dragover.prevent
              @drop="dropIn(index)">
              <img v-if="obtainImage(index)" :src="obtainImage(index)" class="tile-img" alt="criatura"
                draggable="false" />
            </div>
          </div>
        </div>

      </div> <!-- Fin de .container d pond -->

      <!-- Botones inferiores -->
      <div class="bottom-buttons">
        <button><img src="./assets/img/btnClean.png" alt="Limpiar" draggable="false" /></button>
        <button><img src="./assets/img/btnFood.png" alt="Alimentar" draggable="false" /></button>
        <button><img src="./assets/img/btnWater.png" alt="Revisar agua" draggable="false" /></button>
        <button><img src="./assets/img/btnAdd.png" alt="Agregar peces" draggable="false" /></button>
      </div>

    
      <!-- MODALELS -->
      <div class="backdrop" v-if="modal.open" @click.self="closeModal" aria-hidden="false">
        <div class="modal" role="dialog" aria-modal="true" :aria-labelledby="`title-${modal.type}`" tabindex="-1"
          ref="modalEl">

          <div class="modal-body">
            <!-- Market -->
            <market-display v-if="modal.type === 'market'" :market="market" @buy="onMarketBuy"
              @close="onCloseMarketModal"></market-display>
            <!-- Inventario -->
            <inventory-display ref="invDisplay" v-else-if="modal.type === 'inventory'" :inventory="inventory"
              @action-click="onInventoryAction" @close="closeModal"></inventory-display>
            <!-- Missions -->
            <missions-display v-if="modal.type === 'missions'" 
            :missions="missions"
              :mission-money="missionMoney" 
              @claim-reward="claimReward"
              @close-modal="closeModal"></missions-display>
          </div>  <!-- FIN del contenedor de cada modal  -->
        </div>
      </div> <!-- FIN DE MODALES -->

    </div>   <!-- fin del contenedor del fondo que encierra todo -->

 <!-- footer -->
      <footer-web> </footer-web>
       
  </div> <!-- fin de  toda la app -->


  <!-- main -->
 
  <script src="./js/mainPlayerHud.js"></script>

  <!-- padres -->
  <script src="./js/inventoryDisplay.js"></script>
  <script src="./js/missionsDisplay.js"></script>
  <script src="./js/marketDisplay.js"></script>


  <!-- hijos -->
  <!-- inventario -->
  <script src="./js/inventorySideBar.js"></script>
  <script src="./js/inventorySlots.js"></script>
  <script src="./js/inventoryActions.js"></script>
  <script src="./js/inventoryInfo.js"></script>

  <!-- market y demás si los necesitas -->
  <script src="./js/marketHeader.js"></script>
  <script src="./js/marketButtons.js"></script>
  <script src="./js/marketShop.js"></script>

  <!-- misiones -->
  <script src="./js/missionCard.js"></script>

  <!-- footer -->
  <script src="./js/footerWeb.js"></script>




  <script> const mountedApp = app.mount("#app");</script>

</body>

</html>