@layer helpers{

 
    .bg-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
   min-height: 100vh;

}

.bg-footer{
   background-color:  var(--clr-darkteal);
}

}