@layer navigation{
  
.header-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;      
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-wrap: wrap;  
}

 .logo {
    flex-shrink: 0; 
  }

.logo img {
  width: 80px;  
    height: auto;
     transition: transform 0.3s ease;
  
}

.logo img:hover{
transform: scale(1.2);
}


.primary-navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px 20px;
  margin: 60px;
  border: 0.5px solid var(--clr-white);
  border-radius: 50px;
  overflow: hidden;
  box-sizing: border-box;
   min-width: 0;  
   
}

.primary-navigation a:hover {
  color:  var(--clr-teal);  
   transition: transform 0.3s ease; 
}




.toggleMenu {
  position: relative;
}


.user-menu {
  position: absolute;
  right: 0;
  background: var(--clr-blackbox);
 
  border-radius: 8px;
  min-width: 180px;
  display: none;

}

.user-menu.active {
  display:block;
}

.user-menu ul {
  list-style: none;
  padding: 10px ;

}

.user-menu a {
  color: var(--clr-white);
  text-decoration: none;
}

/* movil */


  @media (max-width: 500px) {
  .logo img {
    width: 40px;
  }
  .user-btn img {
    width: 40px;
  }
  .primary-navigation ul {
    gap: 18px;
    margin: 0;
    padding: 15px;
  }

  }

/* tablets*/

 @media (min-width: 501px) and (max-width: 1199px) {
  .logo img {
    width: 60px;
  }
  .user-btn img {
    width: 45px;
  }
  .primary-navigation ul {
    gap: 25px;
    margin: 0;
    padding: 10px 15px;
  }
  }
  



/* diapsoitivo mas grande */
@media (min-width: 2000px) {

  .header-nav {
    gap: 30px;           
    padding: 3rem 4rem;  
    font-size: var( --fs-xl); 

  .primary-navigation ul {
    gap: 155px;          
    margin: 60px 0;     
  }

  .logo img {
    width: 50px;         
  }

  .user-btn img {
    width: 80px;          
  }
}
}






/* overview */


.architecture-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 30px;
    text-align: center;
    color: var(--clr-darkblue)
}

.tech-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}
 /* tech min size movil */
@media (max-width: 600px) {
  .architecture-info {
    padding: 20px; 
    gap: 20px;
  }

.tech-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 40px;
  justify-items: center;
   grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
}

  .tech-container img, 
  .tech-container .tech-item {
    max-width: 80%; 
    height: auto;
  }
}
}